[defaults]
inventory = /inventory.ini
remote_user = ubuntu
private_key_file = /home/kiaq-lap-424/Downloads/backflow.pem
host_key_checking = False
interpreter_python = auto_silent

[privilege_escalation]
become = True
become_method = sudo


